[submodule "src/shared/lib/lentte"]
	path = src/shared/lib/lentte
	url = git@github.com:fevunge/tache-lentte

[submodule "src/shared/lib/vlogging"]
	path = src/shared/lib/vlogging
	url = git@github.com:fevunge/tache-vlogging
